body { 
    margin-left: auto; 
    margin-right: auto; 
    width: 800px; 
    max-width: 90%; 
}

@media (min-width: 640px) {
    html { 
        background-color: #eaf6ff;
    }
    h1 { 
        font-size: 2.5rem;
    }
}

@media (max-width: 500px) {
    h1 { 
        font-size: 1.5rem;
    }
}

#fixed-size-grid-items aside { 
    width: 170px; 
    margin: 10px; 
}

#fixed-size-grid-items li { 
    font-size: 0.8rem;
    list-style-type: none; 
}

#fixed-size-grid-items ul { 
    padding-left: 0px; 
    display: flex; 
    flex-wrap: wrap; 
}

#stretchable-grid-items ul{ 
    padding-left: 0px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 1rem -10px 1rem -10px; 
}

#stretchable-grid-items li { 
    list-style-type: none; 
    width: 100%; 
}

@media (min-width: 480px) {
    #stretchable-grid-items li { 
        width: 50%;
    }
}

@media (min-width: 640px) { 
    #stretchable-grid-items li { 
        width: 25%;
    }
}

#stretchable-grid-items aside { 
   margin: 10px; 
}